---
interface Props {
  name: string,
  icon: string,
  sizeIcon: number,
  courses: 
    {
      name: string,
      year: number
   }[],
  titleSpacing: string,
  containerSpacing: string
}

const platforms: Props = Astro.props
---

<div class={platforms.containerSpacing}>
  <h3 class={platforms.titleSpacing}>
    {platforms.name}
    <svg width="35" height="35">
      <use xlink:href=`/certificateIcons.svg#${platforms.icon}` />
    </svg>
  </h3>
  <ul>
    {
      platforms.courses.map((course) => (
        <li>
          {course.name} <strong>{course.year}</strong>
        </li>
      ))
    }
    {/* 
    <li>
      Utility types en TypeScript <strong>[2026]</strong>
    </li>
    <li>
      HTML desde cero <strong>[2026]</strong>
    </li>
    <li>
      CSS desde cero <strong>[2026]</strong>
    </li>
    */}
  </ul>
</div>

<style>

  h3 {
    text-align: center;
    font-size: 30px;
    color: #8b8bff;
    margin-top: 15px;
    margin-bottom: 35px;

    & svg {
      vertical-align: middle;
      margin-left: 15px;
    }
  }

  ul {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    list-style-position: inside;
  }

  li {
    font-size: 18px;
    color: #ededfc;

    & strong {
      color: #8b8bffc2;
    }
  }

  li::marker {
    color: #8b8bff ;
  }

  .spacing-certifications {
    margin-top: 60px;
  }

  .content-wrap-text {
    width: 60%;
    margin: 0 auto;
    text-wrap: balance;
    text-align: center;

    & li {
      line-height: 1.6;
    }
  }

  @media (width < 1080px) {
    .content-wrap-text {
      width: 100%;
      margin: 0;
    }
  }
</style>