---
import   dataProject  from '../mocks/projects.json'
---

<section id="spacing-section">
  <header>
    <h1>Projects</h1>
  </header>

  <article>
    <ul class="container-projects">
      {
        dataProject.map((project) => (
          <li class="projects">
            <a href={`/${project.name}`}>
              <div class="img-container">
                <img transition:name={`transi-${project.name}`} src={project.imageProject} alt={project.projectAlt}/>
              </div>

              <div class="project-info-container">
                <span class="project-title">{project.titleProject}</span>
                <p class="description-project">{project.shortDescription}</p>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </article>

  <article class="more-info">
    <p>
      If you want see all my projects, you can click
      <strong>
        <a target='_blank' referrerpolicy="no-referrer" href='https://github.com/BryanGordon'>
          here
        </a>
      </strong>
    </p>
  </article>
</section>

<style>
  .container-projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 20px;
    padding: 0px;
  }

  .projects {
    list-style: none;

    & a:hover {
      transform: scale(1.03);
      box-shadow:-1px -3px 2px #8b8bff;
      border-radius: 15px;
    }

    & a {
      width: 80%;
      height: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-items: center;
      transition: all ease-out 0.25s;
    }
  }

  .img-container {
    margin: 0 auto;
  }

  img:hover {
    
  }

  img {
    width: 430px;
    height: 280px;
    aspect-ratio: 1 / 1;
    object-fit: fill;
    border-radius: 20px;
  }

  .project-info-container {
    text-align: center;
    margin-block: 30px;
  }

  .project-title {
    margin-top: 30px;
    color: #8b8bff;
    font-weight: bold;
  }

  .more-info {
    margin-top: 30px;

    & p {
      text-align: center;
      font-weight: 600;

      & a:hover {
        color: #8b8bffc2;
      }

      & a {
        color: #8b8bff;
        transition: color ease 0.3s;
      }
    }
  }

  @media (width <= 970px) {
    .container-projects {
      grid-template-columns: 1fr;
    }
  }

  @media (width >= 330px) and (width <= 550px) {
    .container-projects {
      padding: 0;
    }

    .img-container {
      height: 55%;
    }

    img {
      width: 100%;
      object-fit: contain;
      aspect-ratio: 3 / 4;
    }
  }
</style>